*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    


}

body{
    background: linear-gradient (135deg, #667eea, #764ba2) ;

    display: flex;
    align-items: center;
    justify-content: center;
      font-family: Arial, sans-serif;
    
}

.wrapper{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    
    max-width: 100%;
    display: flex;
    overflow: hidden;
    max-width:650px ;
    width: 100%;
    margin: 60px auto;
    


}

.form-container{
    width: 60%;
    padding: 30px;
    transition: all 0.3s ease;


}

.form-container h2{
    margin-bottom: 20px;
    color:blue;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 10px;
    transition: border 0.3s ease;
    
}


.form-container input:focus{
    border: 2px solid#764ba2;
    outline: none;
}

.form-container button.submit-btn{
    margin-top: 15px;
    padding: 12px;
    border: none;
    background: linear-gradient(to right,#667eea,#764ba2);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-container button.submit-btn:hover{
    background: linear-gradient(to left,#667eea,#764ba2);
}

.toggle-container{
    width: 40%;
    background:linear-gradient(to right,#667eea,#764ba2) ;
    color: white;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    position: relative;
}
.toggle-container H2{
    margin-bottom: 20px;
    
}

.toggle-container P{
    margin-bottom: 20px;
}

.toggle-container button.switch-btn{
    padding: 8px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5px;
}

.toggle-container button.switch-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}